@use 'variables' as v;


#id_detail {
    max-width: v.$md;
    margin: auto;
    padding: 2rem;

    h2 {
        font-size: 1.25rem;
        margin-bottom: 0.5rem;
    }

    h3 {
        margin-bottom: 1rem;
    }

    h6 {
        color: rgba(v.$black, $alpha: 0.75);
        margin-bottom: 1rem;
    }

    .section {
        font-size: 0.875rem;
        margin-bottom: 2rem;
    }

}